*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 1.5rem;
}

header{
    background-color: #0056b3;
    color: white;
    text-align: center;
    padding: 1.25rem 0;
}

header h1{
    margin: 0.6rem;
}

main{
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

.cards{
    display: inline-block;
}

.card{
    width: 40%;
    display: inline-block;
    margin: 0.6rem;
    background-color: burlywood;
}

.card img{
    width: 100%;
}

.card h4{
    font-weight: 800;
}

footer{
    text-align: center;
    background-color: #0056b3;
    padding: 0.6rem 0;
    color: white;
}


