*{
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
}

header{
    padding: 20px;
}

header, #inscricao{
    background-color: #0077b6;
    color: #fff;
}

header h1, nav, #inscricao{
    text-align: center;
}

nav li{
    display: inline-block;
    padding: 5px;
}

nav a{
    color: #fff;
    text-decoration: none;
}

.banner{
    margin: 15px 0 15px 0;
    padding: 20px;
    background-color: #023e8a;
    color: #fff;
    text-align: center;
}

.banner h2 {
    font-size: 24px;
}

.banner p{
    font-size: 16px;
}

#palestrantes{
    padding: 5px;
    text-align: center;
    padding: 20px;
}

#palestrantes h2{
    /* padding: 3px; */
    margin: 5px;
}

.container{
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border-bottom: 10px;
}

.card{
    background-color: #fff;
    width: 17rem;
    height: 100%;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card img{
    width: 80%;
    height: 12rem;
    object-fit: cover;
    padding-top: 10px;
    border-radius: 10px;
}

.card h3{
    font-size: 18px;
    font-weight: bold;
}

.card p{
    font-size: 16px;
    padding-bottom: 7px;
}

#inscricao{
    padding: 20px;
}

#inscricao h2{
    font-size: 24px;
    text-align: center;
}

#inscricao button{
    padding: 15px;
    background-color: #f4f4f4;
    border: none;
    border-radius: 10px;
    color: #0077b6;
    font-weight: bold;
    width: 12%;
    font-size: 18px;
}

footer{
    margin-top: 15px;
    background-color: #0077b6;
    text-align: center;
    padding: 30px;
    color: #fff;
}

footer p{
    font-size: 12px;
}